* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
}

body {
  background: var(--color-bg);
  font-family: 'font-regular';
}

html {
  overflow-x: hidden;
}

a {
  color: unset;
  text-decoration: none;
}

li {
  list-style: none;
}

.gradient__bg {
  background: var(--color-bg);
  overflow: hidden;
}

.gradient__text {
  background: var(--gradient-text);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.section__padding {
  padding: 4rem 6rem;
}

.section__padding_event {
  padding: 1rem 6rem 1rem;
}

.section__padding_home {
  padding: 10rem 6rem 6rem;
}

.section__margin {
  margin: 4rem 3rem;
}

.section__margin2 {
  padding: 0rem 3rem;
}


.scale-up-center {
  -webkit-animation: scale-up-center 0.4s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
  animation: scale-up-center 0.4s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
}

@-webkit-keyframes scale-up-center {
  0% {
    -webkit-transform: scale(0.5);
    transform: scale(0.5);
  }

  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}

@keyframes scale-up-center {
  0% {
    -webkit-transform: scale(0.5);
    transform: scale(0.5);
  }

  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}


.com-title {
  font: 54px/84px 'font-semibold';
  letter-spacing: -1.285714px;
  color: #fff;
  font-weight: 600;
}

@media screen and (max-width: 700px) {
  .section__padding {
    padding: 4rem;
  }

  .section__margin {
    margin: 4rem;
  }

  .section__margin2 {
    padding: 2rem 4rem;
  }

  .section__padding_home {
    padding: 10rem 4rem 4rem;
  }

  .section__padding_event {
    padding: 0rem 4rem 0rem;
  }


}

@media screen and (max-width: 550px) {
  .section__padding {
    padding: 4rem 2rem;
  }

  .section__margin {
    margin: 4rem 2rem;
  }

  .section__margin2 {
    padding: 2rem 2rem;
  }

  .section__padding_home {
    padding: 18rem 2rem 2rem;
  }

  .section__padding_event {
    padding: 0rem 2rem 0rem;
  }


}